DB_ADDRESS=mongodb://127.0.0.1:27017/vault
PORT=5000
JWT_SECRET=your_jwt_secret_here
SALT=12
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
